body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db;
    font-family: 'Poppins', sans-serif;
}

.todo-container {
    background-color: #ecf0f1;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#taskInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #2980b9;
    border-radius: 5px;
}

#addTaskBtn {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #1c6690;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li .delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
